# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs!
*~

mv_camera/.cproject
mv_camera/.project
mv_camera/bin/
mv_camera/build/
mv_camera/cfg/cpp/
mv_camera/cfg/mv_camera.cfgc
mv_camera/docs/
*.mvloglist
*.mvlog
mv_camera/src/mv_camera/
mv_camera/srv_gen/
mv_driver/.cproject
mv_driver/.project
#mv_driver/compile_flags
mv_driver/download/
#mv_driver/linker_paths
mv_driver/mvBlueCOUGAR_runtime/
mv_driver/mvBlueFOX_runtime/
mv_driver/mvBlueFOX_scripts/
mv_driver/mvIMPACT_acquire/
mv_camera/mvDebugFlags.mvd
mv_driver/downloadandinstall
mv_driver/envvars
mv_driver/mvGenTL_Acquire_runtime/
